.BtnOn{
    background-color:blue;
}

.Btn{
    background-color: white;
    color: black;
    width: 70%;
    height: 45px;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    margin-top: 2.5%;
    line-height: 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 17px;
    font-weight: bolder;
}

.BtnWrap{
    margin-top: 1%;
    margin-bottom: 3%;
}

.Question{

}

.progress-bar{
    background-color: aqua;
}

.Container{
    padding: 4%;
    text-align: center;
}